# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# LaTeX build files
build/
*.synctex.gz
*.log
*.aux
*.pdf
*.bbl
*.blg
*.loc
*.lof
*.soc
*.lot
*.out
*.toc

# Misc
*.docx
rev/
poster/
NIPthesis/
*.psd